@import '../../styles/constants';

.mainBg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95vh;
  padding-top: 50px;

  .mainImg {
    margin-left: 20px;
    overflow: hidden;
    img {
      height: 680px;
      width: unset !important;
    }

    .locatorContainer {
      position: absolute;
      z-index: 1;
      .locator {
        img {
          width: 80px;
          height: 95px;
        }
      }
    }

  }

  .mainText {
    margin-left: 150px;
    width: 660px;

    h1 {
      font-size: 50px;
      font-family: 'Unbounded', cursive;
    }

    p {
      margin: 20px 0 60px;
      font-size: 20px;
      color: $text-color-add-comment;
      font-weight: 600;
    }

    .mainButtons {
      a {
        width: 160px;
      }

      a:first-child {
        margin-right: 16px;
        //background: $main-blue;
      }
    }
  }
}


@media (max-width: 6000px) {

}

@media (max-width: 2560px) {

}

@media (max-width: 1550px) {
  .locator2, .locator3 {
    display: none;
  }
}

@media (max-width: 1440px) {
  .locator2, .locator3 {
    display: none;
  }
}

@media (max-width: 1024px) {
  .mainBg {
    //display: block;

    .mainImg {
      img {
        height: 80vh;
        //max-width: 90vw;
        //float: right;
        //height: auto;
      }
    }

    .mainText {
      margin-left: 28px;

      h1 {
        font-size: 28px!important;
        margin-right: 14px!important;
      }
    }
  }

}

@media (max-width: 850px) {
  .mainBg {
    display: block;

    .mainImg {
      img {
        max-width: 90vw;
        float: right;
        height: auto;
      }

      .locatorContainer {
        display: none;
      }
    }

    .mainText {
      position: absolute;
      bottom: 100px;
      width: 95vw!important;
      background: $blue-background;
      margin-left: 14px;

      h1 {
        font-size: 28px!important;
        margin-right: 14px!important;
      }

      p {
        font-size: 16px;
        margin: 20px 0 30px;
      }
    }
  }
}

@media (max-width: 425px) {

  .mainBg {
    display: block;

    .mainImg {
      img {
        max-width: 90vw;
        float: right;
        height: auto;
      }

      .locatorContainer {
        display: none;
      }
    }

    .mainText {
      position: absolute;
      bottom: 100px;
      width: 95vw!important;
      background: $blue-background;
      margin-left: 14px;

      h1 {
        font-size: 28px!important;
        margin-right: 14px!important;
      }

      p {
        font-size: 16px;
        margin: 20px 0 30px;
        //margin-right: 14px!important;
      }
    }
  }
}
