
$text-color-dark: #292929;
$text-color-gray: #333333;
$text-color-comment: #565656;
$text-color-add-comment: #929292;

$text-color-add-comment-gray: #a7a7a7;

$blue-background: #F4F7FF;
$main-blue: #215194;

$color-violet: #EEE1FD;
$color-green: #BAF8CF;
$color-red: #FED6CC;
$color-orange: #FFDCB6;
$color-blue: #B8E6FF;
$color-light-green: #D8FCB0;
$color-dark-blue: #C6D9FF;
$color-yellow: #FFF4C7;
$color-white: #FFFFFF;
$color-gray-checkbox: #E3E3E3;
$color-gray-multiselect-bg: #D8D7D7;
$color-gray-background: #F5F5F5;


$color-yellow-button: #FFE445;
$ant-blue: #1677ff;

$border-color-gray: #CACACA;
$border-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);

$border-radius-xs: 2px;
$border-radius-s-3: 3px;
$border-radius-small: 4px;
$border-radius-standard: 5px;
$border-radius-large: 6px;
$border-radius-extra-large: 7px;
$border-radius-biggest: 11px;

$font-size-large: 16px;
$font-size-15: 15px;
$font-size-standard: 14px;
$font-size-small: 12px;

$font-line-height-15: 15px;
$font-line-height-19: 19px;


$font-weight-bold: 600;
$font-weight-semi-bold: 500;
$font-weight-normal: 400;

$font-family-ys-text: 'Neue Haas Grotesk Display Pro';
$font-family-open-sans: 'Arial', sans-serif;
$font-family: $font-family-ys-text, $font-family-open-sans;
